html, body
{
  background-color: #ffffff;
  width: 100%;
  height: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner{
  animation: spin 10s cubic-bezier(.30,.60,.60,1);
  animation-duration: 1s;
  animation-iteration-count:1 ;
  animation-play-state: running;
  height:140px;
  width: 140px;
  background: url('https://cdn-icons-png.flaticon.com/512/522/522095.png') no-repeat;
  background-position: 22px 30px;
  background-size: 96px 96px;
  
}

@keyframes spin { 100% { transform: rotate(180000deg) }};
